<div class="hero">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="banner_1">
				<h1 class="titulo white">Especialistas en distribución de productos químicos industriales</h1> <br>
				<p class="white hidden-xs">5 años en la industria con la misión de siempre entregar en tiempo y forma los mejores productos con la mejor calidad</p>
			</div>
		</div>
	</div>
	</div>
</div>


<div id="shamp">
	
		<div class="row">
			<div class="col-md-1 hidden-xs hidden-sm">
				<div class="shamp_blue">
					<h1>home</h1>
				</div>
			</div>
			<div class="col-md-5">
				<div id="shamp_text">
					<h1>¿Quiénes somos?</h1>
					<p>Somos un equipo apasionado con ganas de cambiar el modo de trabajo de la industria de la distribución de materías primas y químicos.</p>

					<p>Entendemos el reto y por eso nos proponemos en ser la empresa mexicana con mejor lógistica para que tus operaciones jamás se vean afectadas. Sabemos que es dificil pero lo estamos logrando con la ayuda de los extraordinarios clientes que día con día nos escogen como su prmera opción.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div id="shamp_grey">
					<div id="shamp_show">
						<h1>Misión</h1>
						<p>Ser una empresa reconocida, distinguida, renombrada y demandante en el sector de comercializacion de materias primas, quimicos y en general, para asi poder convertirnos en una empresa solida y confiable la cual sea considerada por nuestros clientes como una herramienta de apoyo para lograr objetivos en conjunto.</p> <br><br><br>
					</div>
					<div id="shamp_show">
						<h1>Visión</h1>
						<p>Ofrecer servicio, calidad y precio justo al cliente. <br> <br>

Estamos integrados por fuerzas jovenes e innovadoras que combinado con la madurez y experiencia nos damos la tarea de garantizar los proyectos en los que participamos con nuestros clientes</p>
					</div>
				</div>
			</div>
		</div>
	
</div>
<div class="row"></div>


<div id="trio">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-3 col-sm-4 col-xs-4">
				<div id="cuadrin">
					<%= image_tag "crece.svg" %> <br><br>
					<h2>PASIÓN POR LOS RESULTADOS</h2>
				</div>
			</div>

			<div class="col-md-2 col-sm-4 col-xs-4">
				<div id="cuadrin" class="resaltado">
					<%= image_tag "team.svg" %> <br><br>
					<h2>TRABAJO EN EQUIPO</h2>
				</div>
			</div>

			<div class="col-md-2 col-sm-4 col-xs-4">
				<div id="cuadrin">
					<%= image_tag "integ.svg" %> <br><br>
					<h2>INTEGRIDAD CON RESULTADOS</h2>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="products">
	<div class="container">
		<div class="col-md-4">
			<div id="product_show">
				<h2>Químicos Básicos</h2> <br>
				<ul>
<li> <span class="far fa-circle"></span> Acido fosfórico alimenticio </li>
<li> <span class="far fa-circle"></span> Acido fosfórico ámbar </li>

<li> <span class="far fa-circle"></span> Ácido Bórico </li>
<li> <span class="far fa-circle"></span> Ácido Cítrico </li>
<li> <span class="far fa-circle"></span> Ácido Esteárico </li>
<li> <span class="far fa-circle"></span> Ácido Fluorhídrico </li>
				</ul>
				<br><br>
				<%= link_to "Todos los químicos básicos", quimicos_basicos_path, class: "butra" %>
			</div>
		</div>

		<div class="col-md-4">
			<div id="product_show">
				<h2>Especialidades</h2> <br>
				<ul>
<li> <span class="far fa-circle"></span>Acido acético</li>
<li> <span class="far fa-circle"></span>Acido cítrico</li>
<li> <span class="far fa-circle"></span>Sosa caustica flakes</li>
<li> <span class="far fa-circle"></span>Acido sórbico</li>
<li> <span class="far fa-circle"></span>Sacarina</li>
<li> <span class="far fa-circle"></span>Bicarbonato de sodio</li>
				</ul>
				<br><br>
				<%= link_to "Todas las especialidades", especialidades_path, class: "butra" %>
			</div>
		</div>

		<div class="col-md-4">
			<div id="product_show">
				<h2>Cuidado Personal</h2> <br>
				<ul>
<li> <span class="far fa-circle"></span>Ácido Cítrico</li>
<li> <span class="far fa-circle"></span>Benzoato de Sodio</li>
<li> <span class="far fa-circle"></span>Estevia</li>
<li> <span class="far fa-circle"></span>Sacarina</li>
<li> <span class="far fa-circle"></span>Goma Guar</li>
<li> <span class="far fa-circle"></span>Peróxido de Hidrógeno</li>
				</ul>
				<br><br>
				<%= link_to "Todo el cuidado personal", cuidado_personal_path, class: "butra" %>
			</div>
		</div>
	</div>
</div>

<div class="container">
<div class="owl-carousel">
          <div> <%= image_tag "us08.png" %> </div>
          <div> <%= image_tag "us09.png" %> </div>
          <div> <%= image_tag "us10.png" %> </div>
          <div> <%= image_tag "us11.png" %> </div>
</div>
</div>



<script>
	$(".owl-carousel").owlCarousel(
		{
		items:4,
    margin:10,
    autoWidth:true
		});
</script>